<header class="container-fluid">
    <div class="mid-header row">
        <div class="logo col-md-3 col-sm-4">
            <img routerLink="/" src="assets/images/logo.png" />
        </div>
        <div class="account col-md-9 col-sm-8 text-right" [ngClass]="{'visible': isAccountActive}" #account>
            <button class="btn btn-orange" (click)="openModal(loginModal)" *ngIf="!activeUser">Login</button>
            <div class="user-info" *ngIf="activeUser">
                <span>
                    <span>Welcome, <strong>{{activeUser.firstName}} {{activeUser.lastName}}</strong></span>
                    <span>Current balance: <strong>{{activeUser.balance | currency}}</strong></span>
                </span>
                <button class="btn btn-orange" (click)="handleLogout()">Logout</button>       
            </div>
        </div>

        <span class="account-trigger fa fa-user" (click)="toggleAccount()" [ngClass]="{'active': isAccountActive}" #accountTrigger></span>
    </div>
    <div class="navigation row">
        <cc-navigation></cc-navigation>
        <cc-search></cc-search>
    </div>
</header>

<ng-template #loginModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Login to Cool Casino</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span class="fa fa-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" [(ngModel)]="login.email" name="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" [(ngModel)]="login.password" name="password" />
        </div>
        <div class="form-group">
            <button class="btn btn-orange btn-block" (click)="handleLogin()">Login</button>
        </div>
    </div>
</ng-template>