@import 'variables';

header {

    .mid-header {
        padding-top: 15px;
        background-color: $purple;
        color: $white;
        height: 80px;

        img {
            height: 65px;
            cursor: pointer;
            position: relative;
            top: -5px;
            
            &:focus {
                outline: none;
            }
        }
    }

    .account {

        .user-info {
            position: relative;
            top: 6px;
            
            span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;

                span {
                    display: block;
                }
            }

            .btn {
                top: 0;
            }
        }
    
        .btn {
            position: relative;
            top: 8px;
        }
    }

    .account-trigger {
        display: none;
        position: absolute;
        top: 14px;
        right: 17px;
        font-size: 32px;
        cursor: pointer;
    }

    .navigation {
        position: relative;
    }
}

@media screen and (max-width: 767px) {

    header {

        .mid-header {
            height: 60px;
            position: relative;
    
            img {
                height: 45px;
            }
        }

        .account-trigger {
            display: block;

            &.active {
                color: $purple-dark;
        
                &:hover {
                    color: $purple-dark;
                }
            }
        
            &:hover {
                color: $purple-light;
            }
        }
    
        .account {
            position: absolute;
            width: 100%;
            bottom: -78px;
            right: -100%;
            background-color: $purple;
            z-index: 10;
            height: 77px;
            padding-top: 10px;
            transition: right .2s ease-out;

            &.visible {
                right: 0;
            }
        
            a {
                display: block;
                text-align: right;
                width: 100%;
                color: $white;
                text-decoration: none;
                margin-top: 5px;
            }
        }
    
        // .navigation {
        //     position: relative;
        // }
    }
}