<div class="container-fluid games-list" *ngIf="!isLoading">
    <div class="title">
        <h2>Search results</h2>
        <span class="strike-line"></span>
    </div>

    <div class="row no-results" *ngIf="results.length === 0">
        <h2 class="col-md-12">No results found</h2>
    </div>
    
    <div class="row" *ngIf="results.length > 0">
        <cc-game *ngFor="let game of results" [game]="game"></cc-game>
    </div>
</div>

<div class="page-loading" *ngIf="isLoading">
    <img src="assets/images/loader.gif" alt="cc-loader">
</div>