@import 'variables';

.no-results {
    width: 100%;
    height: calc(100vh - 439px);
    position: relative;

    h2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 270px;
        height: 50px;
        color: $purple;
        text-transform: uppercase;
    }
}