<cc-header></cc-header>
<div class="main-section">
    <section class="content">
        <div class="main-content">
            <div class="dynamic-page-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</div>
<cc-footer></cc-footer>
