@import 'variables';

.main-section {
    min-height: calc(100% - 121px);
    margin-bottom: -198px; 

    &:after {
        content: "";
        display: block;
        height: 198px;
    }
}

@media screen and (max-width: 767px) {

    .main-section {
        min-height: calc(100% - 121px);
    }
}

