<div class="home">
    <carousel>
        <slide>
          <img src="assets/images/slider/slide-1.jpg" alt="First slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/slider/slide-2.jpg" alt="First slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/slider/slide-3.jpg" alt="First slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/slider/slide-4.jpg" alt="First slide" style="display: block; width: 100%;">
        </slide>
    </carousel>

    <div class="container-fluid games-list" *ngIf="!isLoading">
        <div class="title">
            <h2>Popular Games</h2>
            <span class="strike-line"></span>
        </div>
        
        <div class="row">
          <cc-game *ngFor="let game of popularGames" [game]="game"></cc-game>
        </div>

        <div class="title">
            <h2>New Games</h2>
            <span class="strike-line"></span>
        </div>
        
        <div class="row">
          <cc-game *ngFor="let game of newGames" [game]="game"></cc-game>
        </div>
    </div>
      
    <div class="page-loading" *ngIf="isLoading">
        <img src="assets/images/loader.gif" alt="cc-loader">
    </div>
</div>
