<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 game">
  <img [src]="game.thumbnails['280x280'] || game.thumbnails['legacy']" 
        [alt]="game.name" (error)="this.helperService.updateUrl($event)"/>
  <div class="overlay">
    <h4>{{game.name}}</h4>
    <div class="buttons">
      <a class="btn btn-orange btn-block" href="games/{{game.id}}">Play Now</a>
      <a class="btn btn-link btn-block btn-link-orange" href="games/{{game.id}}">Try for free</a>
    </div>
  </div>
</div>