<div  class="game-page" >
    <div class="game-wrapper" *ngIf="!isLoading" 
        [ngStyle]="{
            'background-image': 'url(' + singleGame.backgrounds[0] + '), url(' + singleGame.backgrounds[1] + ')',
            'background-size': singleGame.backgrounds.length > 1 ? 'auto 100%' : '100%'            
        }">
        <div class="container">
            <div class="game-header">
                <h1>{{singleGame.name}}</h1>
                <span class="fa fa-close exit-game" (click)="openModal(exitGameModal)"></span>
            </div>
            <div class="game-frame">
                <div class="game-interface" *ngIf="isGameLoaded">
                    <img src="assets/images/game-interface.png" alt="game-interface">
                </div>
                <div class="game-loader" *ngIf="!isGameLoaded">
                    <img src="assets/images/loader.gif" alt="cc-loader">
                    <span>Loading</span>
                </div>
            </div>
        </div>    
    </div>
    <div class="page-loading" *ngIf="isLoading">
        <img src="assets/images/loader.gif" alt="cc-loader">
    </div>
</div>
 
<ng-template #exitGameModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Exit Game</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span class="fa fa-close"></span>
    </button>
  </div>
  <div class="modal-body">
      <h3 class="text-center">Are you sure that you want to exit this game?</h3>
  </div>
  <div class="modal-footer text-right">
      <button class="btn btn-primary" (click)="exitGame()">Yes</button>
      <button class="btn btn-default" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
