@import 'variables';

.game-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $black;
    
    .game-wrapper {
        height: 100%;
        width: 100%;
        background-position: right top, left top;
        background-repeat: no-repeat;

        .container {
            width: 60vw;
            max-width: 1144px;
            margin: auto;
            height: 100%;
            background-color: $black;
        }

        .game-header {
            text-align: center;
            position: relative;
            color: $white;
            border-bottom: 1px solid;
    
            h1 {
                font-size: 32px;
                margin-top: 10px;
                padding: 10px;
            }
    
            .exit-game {
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 24px;
                cursor: pointer;
            }
        }    

        .game-frame {
            width: calc(100% - 60px);
            height: 30vw;
            margin: auto;
            margin-top: 50px;
            background-color: $white;
            border: 1px solid rgba($black, .3);
            position: relative;

            .game-loader {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 210px;
                height: 100px;

                img {
                    width: 100px;
                }

                span {
                    font-size: 24px;
                }
            }

            .game-interface {
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .page-loading {
        width: 100%;
        height: 100vh;
        position: relative;

        img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    
}


@media screen and (max-width: 1366px) {

    .game-page {

        .game-wrapper {

            .container {
                width: 80vw;
            }

            .game-header {

                h1 {
                    font-size: 24px;
                }

                .exit-game {
                    font-size: 18px;
                }
            }

            .game-frame {
                height: 40vw;
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    .game-page {

        .game-wrapper {

            .container {
                width: 100vw;
            }

            .game-frame {
                height: 50vw;
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .game-page {

        .game-wrapper {

            .container {
                width: 100vw;
            }

            .game-header {

                h1 {
                    font-size: 22px;
                    margin: 0;
                }

                .exit-game {
                    top: 12px;
                    font-size: 18px;
                }
            }

            .game-frame {
                height: 45vw;
                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-width: 767) {

    .game-page {

        .game-wrapper {

            .game-header {

                h1 {
                    font-size: 20px;
                    margin: 5px 0;
                }

                .exit-game {
                    top: 13px;
                    font-size: 16px;
                }
            }
        }
    }
}