<div class="container-fluid games-list" *ngIf="!isLoading">
  <div class="title">
      <h2>{{category.name}}</h2>
      <span class="strike-line"></span>
  </div>
  
  <div class="row">
    <cc-game *ngFor="let game of category.games" [game]="game"></cc-game>
  </div>
</div>

<div class="page-loading" *ngIf="isLoading">
  <img src="assets/images/loader.gif" alt="cc-loader">
</div>