@import 'variables';

.footer {
    background-color: $dark-grey;
    padding: 30px 0px;
    height: 198px;

    .payment-methods {
        padding: 15px 20px;
        text-align: center;

        img {
            margin-right: 20px;
            height: 35px;
            opacity: 0.7;
        }
    }

    .footer-nav {
        list-style: none;
        text-align: center;
        padding: 0;

        li {
            display: inline-block;
            padding: 5px;
            margin-right: 10px;

            a {
                color: $white;
                text-transform: uppercase;
                opacity: .7;

                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
    }

    .social-networks {
        text-align: center;

        .fa {
            color: $white;
            font-size: 32px;
            margin-right: 30px;
            opacity: .7;

            &:hover {
                text-decoration: none;
                opacity: 1;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 665px) {

    .footer {
        height: 220px;

        .footer-nav {
            width: 70%;
            margin: 5px auto 15px;
        }
    }
}

@media screen and (max-width: 600px) {

    .footer {

        .payment-methods {

            img {
                height: 28px;
            }
        }

        .footer-nav {
            width: 80%;
        }
    }
}

@media screen and (max-width: 515px) {

    .footer {

        .payment-methods {

            img {
                height: 22px;
            }
        }

        .footer-nav {
            width: 85%;
        }
    }
}

@media screen and (max-width: 470px) {

    .footer {
        height: 230px;

        .payment-methods {
            padding: 0px 10px;
            width: 70%;
            margin: auto;

            img {
                margin-bottom: 15px;
            }
        }

        .footer-nav {
            width: 100%;
        }

        .social-networks {
            padding-bottom: 10px;

            .fa {
                font-size: 28px;
            }
        }
    }
}

@media screen and (max-width: 414px) {

    .footer {
        height: 240px;

        .footer-nav {

            li {
                margin-right: 8px;
            }
        }
    }
}

@media screen and (max-width: 400px) {

    .footer {
        height: 260px;

        .payment-methods {
            width: 85%;
            margin: auto;
        }

        .footer-nav {

            li {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 360px) {

    .footer {
  
        .payment-methods {
           width: 100%;
        }
    }
}