<div class="footer">
    <div class="container">
        <div class="payment-methods">
            <img src="assets/images/payment/visa.svg" alt="visa-payment" />
            <img src="assets/images/payment/master.svg" alt="master-payment" />
            <img src="assets/images/payment/maestro.svg" alt="maestro-payment" />
            <img src="assets/images/payment/skrill.svg" alt="skrill-payment" />
            <img src="assets/images/payment/ipay.svg" alt="ipay-payment" />
        </div>
        <ul class="footer-nav">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Rules of Gaming</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Latest News</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Locations</a></li>
        </ul>
        <div class="social-networks">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google-plus"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </div>
</div>