.error-page {

    .container {
        position: relative;
        height: calc(100vh - 320px);
    }

    h1 {
        position: absolute;
        top: calc(50% - 20px);
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        font-size: 40px;
    }
}