@import 'variables';

.menu-trigger {
    display: none;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 20px;
    color: $white;
    cursor: pointer;

    &.active {
        color: $purple-dark;

        &:hover {
            color: $purple-dark;
        }
    }

    &:hover {
        color: $purple-light;
    }
}

.main-nav {
    width: calc(100% - 250px);
    float: left;
    padding: 0 10px;

    a {
        padding: 10px 8px 9px;
        color: $white;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: $purple-light;
            padding: 10px 8px 9px;
        }

        &.active {
            background-color: $purple-dark;
        }
    }

}

@media screen and (max-width: 991px) {
    
    .main-nav {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {

    .nav-mobile {
        position: relative;
        height: 40px;
    }
    
    .menu-trigger {
        display: block;
    }

    .main-nav {
        left: -180px;
        position: absolute;
        top: 40px;
        width: 180px;
        padding: 0;
        background-color: $purple;
        z-index: 6;
        transition: left .2s ease-out;

        &.visible {
            left: 0;
        }

        a {
            display: block;
        }
    }
}