<div class="nav-mobile">
    <span class="menu-trigger" [ngClass]="{'active': isMenuVisible}" (click)="toggleMenu()" #menuTrigger><i class="fa fa-bars"></i> Menu</span>
</div>

<nav class="main-nav" [ngClass]="{'visible': isMenuVisible}" #menu>
  <a *ngFor="let page of pages" routerLink="/categories/{{page.slug}}" routerLinkActive="active" (click)="toggleMenu()">{{page.name}}</a>
</nav>