/* You can add global styles to this file, and also import other style files */
@import 'variables';

@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background-image: url('assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden; 
}

.cc-desktop-app {
    height: 100%;
}

// Modals
.modal {

    .modal-content {
        border-radius: 0;
    }
}

// Notifications 
.toast-container {
    
    &.toast-top-right {
        top: 15px;
        right: 17px;
    }

    .toast {
        border-radius: 0;
        box-shadow: none;
    }
}

// Slider
.carousel {

    .carousel-control {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        background-color: $purple;
        background-image: none;
        opacity: 1;
        color: #fff;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $purple-dark;
        }   

        .icon-prev, .icon-next {
            width: auto;
            height: auto;
            font-size: 35px;
            margin-top: -20px;
            margin-left: -7px;
        }

        .icon-next {
            margin-right: -8px;
        }
    }
}

// Navigation
.navigation {
    background-color: $purple;
    border-top: 1px solid rgba($white, .7);
}

// Forms and form elements
.form-control {
    border-radius: 0;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;

    &.btn-orange {
        background-color: $orange;
        color: $black;
    }
}

// Games listing
.games-list {
    width: calc(100% - 100px);
    min-height: calc(100vh - 323px);
    max-width: 1720px;
    padding: 30px;
    overflow: hidden;

    .title {
        position: relative;
        text-align: center;
        
        h2 {
            margin-top: 0;
            margin-bottom: 30px;
            background-color: $white;
            color: $purple;
            text-transform: uppercase;
            font-size: 24px;
            display: inline-block;
            position: relative;
            z-index: 2;
            padding: 0 10px;
            font-weight: 300;
        }

        .strike-line {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $purple;
            left: 0;
            top: 13px;
            z-index: 1;
        }
    }

    .game {
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
        float: none;
        display: inline-block;

        h4 {
            text-align: center;
            text-transform: uppercase;
            display: table-cell;
            width: 16.67vw;
            line-height: 1.2;
            padding: 20px;
            height: 110px;
            vertical-align: middle;
            color: $white;
            font-size: 18px;
        }

        img {
            width: 100%;
            height: calc(16.67vw - 80px);
            max-height: 240px;
        }

        .overlay {
            position: absolute;
            padding-top: 5px;
            top: 0;
            left: 15px;
            transform: scale(0);
            background-color: rgba($purple, .8);
            width: calc(100% - 30px);
            height: 100%;
            transition: all .2s ease-out;

            .buttons {
                position: absolute;
                bottom: 0px;
                width: calc(100% - 30px);
                left: 15px;

                .btn {
                    margin-top: 0;
                }

                .btn-link-orange {
                    color: $orange;
                }
            }
        }

        
        &:hover {
            .overlay {
                transform: scale(1);
            }
        }
    }
}

.page-loading {
    width: 100%;
    height: calc(100vh - 323px);
    position: relative;

    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}


// Global Responsive

@media screen and (max-width: 1499px) {

    .games-list {

        .game {
            width: 20%;

            h4 {
                width: 20vw;
                font-size: 16px;
            }

            img {
                width: 100%;
                height: calc(20vw - 80px);
            }
        }
    }
}

@media screen and (max-width: 1365px) {

    .games-list {

        .game {
    
            h4 {
                height: 80px;
            }
        }
    }
}

@media screen and (max-width: 1199px) {

    body {
        background-position-x: -140px;
    }

    .games-list {

        .game {
            width: 25%;

            h4 {
                width: 25vw;
                height: 90px;
                font-size: 16px;
            }

            img {
                width: 100%;
                height: calc(25vw - 80px);
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .games-list {

        .game {
            width: 33.33%;

            h4 {
                height: 90px;
                font-size: 18px;
            }

            img {
                height: calc(33.33vw - 80px);
            }

            .overlay {

                .buttons {
                    bottom: 0;

                    .btn-block {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .carousel {
        display: none;
    }

    .games-list {
        width: calc(100% - 30px);
        padding: 15px;

        .game {
            width: 50%;

            h4 {
                width: 50vw;
                height: 20vw;
                font-size: 3vw;
            }

            img {
                height: calc(50vw - 80px);
                max-height: initial;
            }
        }
    }
}

@media screen and (max-width: 479px) {

    .games-list {

        .game {
            width: 100%;
    
            h4 {
                width: 100vw;
                height: 30vw;
                font-size: 7vw;
            }

            img {
                height: calc(100vw - 80px);
                max-height: 400px;
            }
        }
    }
}