<div class="search" [ngClass]="{'visible': isSearchVisible}" #searchBox>
  <div class="form-group">
    <span class="fa fa-search"></span>
    <input type="text" placeholder="Search games" [(ngModel)]="searchQuery" name="searchQuery" (keyup.enter)="toggleSearch(); search()"/>
  </div>
</div>

<span class="fa fa-search search-trigger" [ngClass]="{'active': isSearchVisible}" (click)="toggleSearch()" #searchTrigger></span>