@import 'variables';

.search {
    width: 250px;
    float: left;
    padding: 0 15px;

    .form-group {
        margin-bottom: 0;
        position: relative;
    }

    .fa {
        color: $white;
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
    
    }

    input {
        background-color: transparent;
        border: none;
        outline: none;
        color: $white;
        padding: 10px;
        padding-left: 25px;
        width: 100%;
        font-weight: 700;

        &:focus {

            &::-webkit-input-placeholder {
                opacity: 0;
            }
            &::-moz-placeholder {
                opacity: 0;
            }
            &:-ms-input-placeholder {
                opacity: 0;
            }
        }

        &::-webkit-input-placeholder {
            color: $white;
        }
        &::-moz-placeholder {
            color: $white;
        }
        &:-ms-input-placeholder {
            color: $white;
        }
    }
}

.search-trigger {
    display: none;
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 20px;
    color: $white;
    cursor: pointer;

    &.active {
        color: $purple-dark;

        &:hover {
            color: $purple-dark;
        }
    }

    &:hover {
        color: $purple-light;
    }
}

@media screen and (max-width: 991px) {
    
    .search {
        width: 250px;
        margin: auto;
        float: none;
        position: absolute;
        right: -250px;
        bottom: -40px;
        padding: 0;
        border-top: 1px solid;
        background-color: $purple;
        z-index: 5;
        transition: right .2s ease-out;

        &.visible {
            right: 0;
        }

        input {
            padding-left: 10px;
        }

        .fa {
            display: none;
        }
    }

    .search-trigger {
        display: block;
        right: 17px;
    }
}